@import "tailwindcss";

@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-satoshi);
}

@theme {
  --color-desert-50: #f8f8f8;
  --color-desert-100: #e5e5e2;
  --color-desert-200: #cecec8;
  --color-desert-300: #b0b0a6;
  --color-desert-400: #949487;
  --color-desert-500: #6a6a5f;
  --color-desert-600: #5d5d53;
  --color-desert-700: #494942;
  --color-desert-800: #3c3d37;
  --color-desert-900: #363631;
  --color-desert-950: #1b1b18;

  --color-pearl: #12202a;

  --color-charcoal-50: oklch(0.976 0.008 241.7);
  --color-charcoal-100: oklch(0.95 0.015 241.8);
  --color-charcoal-200: oklch(0.896 0.033 232.2);
  --color-charcoal-300: oklch(0.807 0.061 231.1);
  --color-charcoal-400: oklch(0.707 0.092 231.5);
  --color-charcoal-500: oklch(0.621 0.103 234.3);
  --color-charcoal-600: oklch(0.533 0.097 237.9);
  --color-charcoal-700: oklch(0.455 0.083 240.4);
  --color-charcoal-800: oklch(0.409 0.069 238.4);
  --color-charcoal-900: oklch(0.368 0.055 239);
  --color-charcoal-950: oklch(0.202 0.025 241.9);

  --color-pearl-950: oklch(0.1 0.007 264);
  --color-pearl-900: oklch(0.189 0.013 264);
  --color-pearl-800: oklch(0.278 0.019 264);
  --color-pearl-700: oklch(0.367 0.025 264);
  --color-pearl-600: oklch(0.456 0.031 264);
  --color-pearl-500: oklch(0.544 0.026 264);
  --color-pearl-400: oklch(0.633 0.021 264);
  --color-pearl-300: oklch(0.722 0.015 264);
  --color-pearl-200: oklch(0.811 0.01 264);
  --color-pearl-100: oklch(0.9 0.005 264);
}

@layer base {
  body {
    @apply transition-colors duration-300 text-desert-900 bg-desert-50 dark:bg-charcoal-950 font-sans;
  }

  button {
    @apply cursor-pointer;
  }
}
